/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MS search module config
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*:MS_SEARCH:PREPARE_FASTA' {
        publishDir = [
            path: { "${params.outdir}/ms_search/fasta" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: '.*:MS_SEARCH:MSFRAGGER' {
        publishDir = [
            path: { "${params.outdir}/ms_search/msfragger" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: '.*:MS_SEARCH:MOKAPOT' {
        publishDir = [
            path: { "${params.outdir}/ms_search/mokapot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

}
