/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Post-MS analysis module config
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*:POST_MS_ANALYSIS:DB_COMPARE_PHASE1' {
        publishDir = [
            path: { "${params.outdir}/post_ms/phase1/db_compare" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: '.*:POST_MS_ANALYSIS:ORIGINS_SIMPLE' {
        ext.args = '-s'
        publishDir = [
            path: { "${params.outdir}/post_ms/phase1/origins" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: '.*:POST_MS_ANALYSIS:DB_COMPARE_PHASE2' {
        publishDir = [
            path: { "${params.outdir}/post_ms/phase2/db_compare" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: '.*:POST_MS_ANALYSIS:ORIGINS_FULL' {
        publishDir = [
            path: { "${params.outdir}/post_ms/phase2/origins" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

}
