process {
    withName: 'GATK4_MUTECT2' {
        ext.args = { "--f1r2-tar-gz ${meta.id}.f1r2.tar.gz" }
    }
    withName: 'GATK4_CALCULATECONTAMINATION' {
        ext.args = { "--tumor-segmentation ${meta.id}.segmentation.table" }
    }
    withName: 'GATK4_FILTERMUTECTCALLS' {
        ext.prefix = { "${meta.id}.filtered" }
    }
    withName: 'GATK4_SELECTVARIANTS' {
        ext.args   = '--exclude-filtered true --sites-only-vcf-output true'
        ext.prefix = { "${meta.id}.pass" }
    }
}
