process {
    withName: 'GATK4_MUTECT2'              { cpus = { 4 * task.attempt }; memory = { 16.GB * task.attempt }; time = { 8.h * task.attempt } }
    withName: 'GATK4_GETPILEUPSUMMARIES'   { cpus = 2; memory = { 8.GB * task.attempt }; time = { 4.h * task.attempt } }
    withName: 'GATK4_FILTERMUTECTCALLS'    { cpus = 2; memory = { 8.GB * task.attempt }; time = { 2.h * task.attempt } }
    withName: 'GATK4_SELECTVARIANTS'       { cpus = 1; memory = { 4.GB * task.attempt }; time = { 1.h * task.attempt } }
}
params { outdir = 'results'; publish_dir_mode = 'copy' }
