process {
    withName: 'SAMTOOLS_SORT' {
        ext.args   = '-n'
        ext.prefix = { "${meta.id}.qnsort" }
    }
    withName: 'GATK4_FASTQTOSAM' {
        ext.prefix = { "${meta.id}.unmapped" }
    }
    withName: 'GATK4_MARKDUPLICATES' {
        ext.prefix = { "${meta.id}.markdup.bam" }
    }
    withName: 'GATK4_SPLITNCIGARREADS' {
        ext.prefix = { "${meta.id}.splitN" }
    }
    withName: 'GATK4_VALIDATESAMFILE' {
        errorStrategy = 'ignore'
    }
}
