process {
    withName: 'ENSEMBLVEP_VEP'      { cpus = { 4 * task.attempt }; memory = { 16.GB * task.attempt }; time = { 2.h * task.attempt } }
    withName: 'ENSEMBLVEP_DOWNLOAD' { cpus = 2; memory = 8.GB; time = 4.h }
    withName: 'SNPEFF_SNPEFF'       { cpus = { 4 * task.attempt }; memory = { 12.GB * task.attempt }; time = { 1.h * task.attempt } }
    withName: 'SNPEFF_DOWNLOAD'     { cpus = 2; memory = 4.GB; time = 1.h }
}
params { outdir = 'results'; publish_dir_mode = 'copy' }
